.vidyo-advanced-settings-button {
  width: 240px !important;
  margin: 10px 0;
}

.vidyo-advanced-settings {
  width: max-content;
  overflow: auto;

  .log-levels {
    .bp4-popover-target + .bp4-overlay .bp4-popover {
      width: fit-content;
      max-width: 90vw;

      .bp4-popover-content {
        padding: 20px 8px 20px 20px;
      }
    }
  }

  .stats-analyzer-link {
    margin-top: 8px;
  }
}

@media screen and (max-height: 777px) {
  .vidyo-advanced-settings {
    height: calc(100vh - 120px);
  }
}

@media screen and (max-width: 712px),
  (orientation: landscape) and (max-width: 760px) {
  .vidyo-advanced-settings {
    .log-levels {
      .bp4-popover-target + .bp4-overlay .bp4-popover {
        max-width: 280px;
      }
    }
  }
}
